@logee-fe:registry=https://gitlab.playcourt.id/api/v4/projects/20654/packages/npm/
//gitlab.playcourt.id/api/v4/projects/20654/packages/npm/:_authToken=glpat-aasHHyV4u8s94EiBbivL
always-auth=true
auto-install-peers=true
